{% extends "base.html" %}
{% block content %}

<div class="row dash-heading">
    <div class="col s11 xl8" id="dash-container">
        <div class="col s12 green-row">
            <h1>Add Guest</h1>
        </div>
    </div>
</div>
<form action="{{ url_for('add_guests')}}" method="POST">
    <div class="row" id="form-row">
        <div class="col s11 xl6" id="form-col">
            <label for="guest_name">Guest Name</label>
            <input type="text" id="guest_name" name="guest_name" pattern="^[a-zA-Z0-9]{3,30}$" required>
            <label for="guest_notes">Guest Notes</label>
            <input type="text" id="guest_notes" name="guest_notes" pattern="^[a-zA-Z0-9]{3,100}$">
            <p id="table-label">Guest Table Name</p>
            <div class="col s12 radio-group">
                <div>
                    <!-- Show a message if no tables have been created -->
                    {% if not tables %}
                    <p class="col s12 green-row flash-message" id="create-table">
                        No tables have been created. Click <a href="{{ url_for('add_table') }}"
                            class="create-table-a">here</a> to create a
                        table.
                    </p>
                    {% else %}
                    <!-- Show a dropdown of all tables if there have been some created -->
                    <!-- Dropdown Trigger -->
                    <a class="dropdown-trigger btn" data-target="table-drop">Choose Table</a>
                    <!-- Dropdown Structure -->
                    <ul id="table-drop" class="dropdown-content">
                        <li class="table-dropdown">None</li>
                        {% for table in tables %}
                        <li class="table-dropdown">
                            {{ table }}
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <!-- Show the user which table they've selected -->
                <div id="chosen-table-div">
                    <p id="chosen-table"></p>
                </div>
                <!-- Invisible input for chosen table so user can't overtype -->
                <input type="text" id="table_name" name="table_name" value="None">
                <label for="table_name"></label>
            </div>
            <button class="btn waves-effect waves-light submit" type="submit" name="action" id="submit-button">Submit
                <i class="fa-solid fa-arrow-right-long"></i>
            </button>
        </div>
    </div>
</form>
<!-- Back button -->
<div class="row dash-heading">
    <div class="col s11 xl6" id="back-div">
        <a href="{{ url_for('guests') }}" class="green-row back-button">
            <i class="fa-solid fa-arrow-left-long"></i>Back to
            Guests</a>
    </div>
</div>

{% endblock %}