{% extends "base.html" %}
{% block content %}

<div class="row dash-heading">
    <div class="col s10" id="dash-container">
        <div class="col s12 green-row">
            <h1>Add Guest</h1>
        </div>
        <div class="col s12 green-row flash-message">
            {% with messages = get_flashed_messages() %} {% if messages %} {% for
                    message in messages %}
            <h5>{{ message }}</h5>
            {% endfor %} {% endif %} {% endwith %}
        </div>
    </div>
</div>
<form action="{{ url_for('add_guests')}}" method="POST">
    <div class="row" id="form-row">
        <div class="col s8" id="form-col">
            <label for="guest_name">Guest Name</label>
            <input type="text" id="guest_name" name="guest_name" minlength="3" maxlength="30" required>
            <label for="guest_notes">Guest Notes</label>
            <input type="text" id="guest_notes" name="guest_notes" minlength="3" maxlength="100" required>
            <p>Guest Table Number</p>
            <div class="col s12 radio-group">
                <div>
                    {% if not tables %}
                    <p class="col s12 green-row flash-message" id="create-table">
                        No tables have been created. Click <a href="{{ url_for('add_table') }}"
                            class="create-table-a">here</a> to create a
                        table.
                    </p>
                    {% else %}
                    <!-- Dropdown Trigger -->
                    <a class="dropdown-trigger btn" data-target="table-drop">Choose Table Number</a>
                    <!-- Dropdown Structure -->
                    <ul id="table-drop" class="dropdown-content">
                        {% for table in tables %}
                        <li class="table-dropdown">
                            {{ table }}
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div id="chosen-table-div">
                    <p id="chosen-table"></p>
                </div>
                <input type="text" id="table_number" name="table_number" value="null">
                <label for="table_number"></label>
            </div>
            <button class="btn waves-effect waves-light submit" type="submit" name="action">Submit
                <i class="fa-solid fa-arrow-right-long"></i>
            </button>
        </div>
    </div>
</form>

<div class="row dash-heading">
    <div class="col s10">
        <a href="{{ url_for('guests') }}" class="green-row back-button">
            <i class="fa-solid fa-arrow-left-long"></i>Back to
            Guests</a>
    </div>
</div>

{% endblock %}