<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <script src="https://kit.fontawesome.com/1c3a2196db.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/tie-the-knot.ico') }}">
    <title>Tie the Knot</title>
</head>

<body>
    <header>
        <nav class="row" id="nav-container">
            <div class="col s11 xl8" id="nav-main">
                <!-- Logo -->
                <a href="{{ url_for('home') }}">
                    <img class="logo" src="{{ url_for('static', filename='images/logo.png') }}"
                        alt="Tie the Knot Wedding Planning Logo">
                </a>
                <!-- Tablet and mobile hamburger menu -->
                <a data-target="mobile-demo" class="sidenav-trigger" id="three-bars"><i
                        class="fa-solid fa-bars"></i></a>
                <!-- Things to do Dropdown Structure -->
                <ul id="checklist-dropdown" class="dropdown-content">
                    <li><a class="drop-option drop-top" href="{{ url_for('checklist') }}">Checklist</a></li>
                    <li class="divider"></li>
                    <li><a class="drop-option drop-bottom" href="{{ url_for('payments') }}">Payments</a></li>
                </ul>
                <!-- Guest List Dropdown Structure -->
                <ul id="guest-dropdown" class="dropdown-content">
                    <li><a class="drop-option drop-top" href="{{ url_for('guests') }}">Guests</a></li>
                    <li class="divider"></li>
                    <li><a class="drop-option drop-bottom" href="{{ url_for('table_plan') }}">Table Plan</a></li>
                </ul>
                <!-- Username Dropdown Structure -->
                <ul id="dash-dropdown" class="dropdown-content">
                    <li><a class="drop-option drop-top" href="{{ url_for('dashboard') }}">Dashboard</a>
                    </li>
                    <li class="divider"></li>
                    <li><a class="drop-option drop-bottom" href="{{ url_for('logout') }}">Log out</a></li>
                </ul>
                <!-- Navbar at top of page --->
                <ul class="right hide-on-med-and-down nav-links">
                    {% if session.user %}
                    <li><a class="dropdown-trigger nav-trigger" data-target="checklist-dropdown">Things to
                            Do</a></li>
                    <li><a class="dropdown-trigger nav-trigger" data-target="guest-dropdown">Guest List</a>
                    </li>
                    <li><a class="dropdown-trigger nav-trigger" data-target="dash-dropdown">{{ username.name_one }}</a>
                    </li>
                    <!-- Nav elements if logged out -->
                    {% else %}
                    <li><a class="nav-trigger" href="{{ url_for('log_in') }}">Log In</a>
                    </li>
                    <li><a class="nav-trigger" href="{{ url_for('sign_up') }}">Sign Up</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <!-- Mobile navigation menu on left side -->
        <ul class="sidenav" id="mobile-demo">
            {% if session.user %}
            <li><a href="{{ url_for('dashboard') }}" class="side-nav">Dashboard</a></li>
            <li><a href="{{ url_for('checklist') }}">Checklist</a></li>
            <li><a href="{{ url_for('payments') }}">Payments</a></li>
            <li><a href="{{ url_for('guests') }}">Guests</a></li>
            <li><a href="{{ url_for('table_plan') }}">Table Plan</a></li>
            <li><a href="{{ url_for('logout') }}">Log out</a></li>
            {% else %}
            <!-- Nav elements if logged out -->
            <li><a class="side-nav" href="{{ url_for('log_in') }}">Log In</a>
            </li>
            <li><a href="{{ url_for('sign_up') }}">Sign Up</a>
            </li>
            {% endif %}
        </ul>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>


    <footer>
        <div class="row">
            <div class="col s12">
                <ul id="footer-links">
                    <!-- Internal website links in footer -->
                    {% if session.user %}
                    <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                    <li><a href="{{ url_for('checklist') }}">Checklist</a></li>
                    <li><a href="{{ url_for('guests') }}">Guests</a></li>
                    <li><a href="{{ url_for('table_plan') }}">Table Plan</a></li>
                    <li><a href="{{ url_for('payments') }}">Payments</a></li>
                    {% else %}
                    <li><a class="side-nav" href="{{ url_for('log_in') }}">Log In</a>
                    </li>
                    <li><a href="{{ url_for('sign_up') }}">Sign Up</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div class="col s12">
                <ul id="footer-socials">
                    <!-- Social media website links in footer -->
                    <li><a href="https://www.facebook.com/" target="_blank"><i
                                class="fa-brands fa-square-facebook"></i></a></li>
                    <li><a href="https://www.instagram.com/" target="_blank"><i
                                class="fa-brands fa-square-instagram"></i></a></li>
                    <li><a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-square-twitter"></i></a>
                    </li>
                    <li><a href="https://www.youtube.com/" target="_blank"><i
                                class="fa-brands fa-square-youtube"></i></a></li>
                </ul>
            </div>
            <!-- Contact link in footer -->
            <div class="col s12" id="contact">
                <p id="contact-p">Get in touch at <a class="contact-link"
                        href="mailto:enquiries@tie-the-knot.com">enquiries@tie-the-knot.com</a></p>
                <p id="copyright">&copy; Tie the Knot Wedding Planner</p>
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.2/dist/confetti.browser.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>