{% extends "base.html" %}
{% block content %}

<div class="row ttk-dash-heading">
    <div class="col s10" id="ttk-dash-container">
        <div class="col s12 ttk-green-row">
            <h1>Name & Name</h1>
        </div>
        <div class="col s12 ttk-green-row">
            <h5>Only NUMBER days until the big day!</h5>
        </div>
        <div class="col s12 ttk-dash-content">
            <div class="col s5 ttk-green-row" id="ttk-green-one">
                <a href="">
                    <h5>Checklist</h5>
                </a>
            </div>
            <div class="col s5 ttk-green-row" id="ttk-green-two">
                <a href="">
                    <h5>Guests</h5>
                </a>
            </div>
        </div>
        <div class="col s12 ttk-dash-content">
            <div class="col s5 ttk-green-row" id="ttk-green-three">
                <a href="">
                    <h5>Table Plan</h5>
                </a>
            </div>
            <div class="col s5 ttk-green-row" id="ttk-green-four">
                <a href="">
                    <h5>Payments</h5>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}