{% extends "base.html" %}
{% block content %}

<div class="row dash-heading">
    <div class="col s10" id="dash-container">
        <div class="col s12 green-row">
            <h1>Name & Name</h1>
            <h5>Only NUMBER days until the big day!</h5>
            <p id="edit-profile"><a href=""><i class="fa-solid fa-pen-to-square"></i></a></p>
        </div>
        <div class="col s12 green-row green-container">
            <h5>What's next?</h5>
            <br>
            {% for checklist_item in checklist_items %}
            <!-- Iterates through each Checklist item -->
            {% if loop.first %}
            <!-- Checks to see if this is the first iteration, meaning it has no previous -->
            <p class="checklist-date"><strong>{{ checklist_item.checklist_date.strftime("%-d %B %Y") }}</strong></p>
            <div class="col s10 checklist-item">
                <div class="col s3">
                    <p>{{ checklist_item.checklist_name }}</p>
                </div>
                <div class="col s6">
                    <p class="checklist-notes">{{ checklist_item.checklist_notes }}</p>
                </div>
            </div>
            {% else %}
            <!-- For all other iterations after the first one -->
            {% if checklist_item.checklist_date == loop.previtem.checklist_date %}
            <div class="col s10 checklist-item">
                <div class="col s3">
                    <p>{{ checklist_item.checklist_name }}</p>
                </div>
                <div class="col s6">
                    <p class="checklist-notes">{{ checklist_item.checklist_notes }}</p>
                </div>
            </div>
            {% endif %}
            {% endif %}
            {% endfor %}
        </div>
        <div class="col s12 green-row">
            <p>Click here to edit your profile</p>
        </div>



        <div class="col s12 dash-content">
            <a href="{{ url_for('checklist') }}" class="col s5 green-row" id="green-one">
                <h5>Checklist</h5>
            </a>
            <a href="{{ url_for('guests') }}" class="col s5 green-row" id="green-two">
                <h5>Guests</h5>
            </a>
        </div>
        <div class="col s12 dash-content">
            <a href="{{ url_for('table_plan') }}" class="col s5 green-row" id="green-three">
                <h5>Table Plan</h5>
            </a>
            <a href="{{ url_for('payments') }}" class="col s5 green-row" id="green-four">
                <h5>Payments</h5>
            </a>
        </div>
    </div>
</div>

{% endblock %}