{% extends "base.html" %}
{% block content %}

<div class="row dash-heading">
    <div class="col s11 xl8" id="dash-container">
        {% with messages = get_flashed_messages() %} {% if messages %} {% for
            message in messages %}
        <div class="col s12 green-row flash-message">
            <h5>{{ message }}</h5>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="col s12 green-row" id="dash-title">
            <h1>{{ username.name_one }} & {{ username.name_two }}</h1>
            {% if days_until > 0 %}
            <h5>Only {{ days_until }} days until the big day!</h5>
            {% elif days_until == 0 %}
            <h5>Today is the big day!</h5>
            {% elif days_until < 0 %}
            <h5>Congratulations! You've been married for {{ days_since }} days!</h5>
            {% endif %}
            <div id="confetti-container">
                <p id="click-confetti">&#127882;Click me!&#127882;</p>
            </div>
        </div>
        <div class="col s12 green-row" id="whats-next">
            <h5>What's next?</h5>
            <p id="no-checklist">It looks like you don't have any checklist items yet. Click <a
                    href="{{ url_for('add_checklist_item') }}" class="create-table-a">here</a> to get started!</p>
        </div>

        <div class="col s12 green-row green-container" id="dash-checklist">
            {% for checklist_item in checklist_items %}
            <!-- Iterates through each Checklist item -->
            {% if loop.first %}
            <!-- Checks to see if this is the first iteration, meaning it has no previous -->
            <p class="checklist-date"><strong>{{ checklist_item.checklist_date.strftime("%-d %B %Y") }}</strong></p>
            <div class="col s11 checklist-item">
                <div class="col s12 l4">
                    <p class="checklist-notes">{{ checklist_item.checklist_name }}</p>
                </div>
                <div class="col s12 l6">
                    <p>{{ checklist_item.checklist_notes }}</p>
                </div>
            </div>
            {% else %}
            <!-- For all other iterations after the first one -->
            {% if checklist_item.checklist_date == loop.previtem.checklist_date %}
            <div class="col s11 checklist-item">
                <div class="col s12 l4">
                    <p class="checklist-notes">{{ checklist_item.checklist_name }}</p>
                </div>
                <div class="col s12 l6">
                    <p>{{ checklist_item.checklist_notes }}</p>
                </div>
            </div>
            {% endif %}
            {% endif %}
            {% endfor %}
        </div>
        <div class="col s12 dash-content">
            <a href="{{ url_for('checklist') }}" class="green-row" id="green-one">Checklist</a>
            <a href="{{ url_for('payments') }}" class="green-row" id="green-two">Payments</a>
            <a href="{{ url_for('guests') }}" class="green-row" id="green-three">Guests</a>
            <a href="{{ url_for('table_plan') }}" class="green-row" id="green-four">Table Plan</a>
        </div>
        <div class="col s12 dash-button-container">
            <a href="{{ url_for('edit_profile', username=session['user']) }}" class="dash-buttons pink-button">Edit
                Profile</a>
            <a href="{{ url_for('logout') }}" class="dash-buttons pink-button">Log out</a>
        </div>
    </div>
</div>

{% endblock %}