{% extends "base.html" %}
{% block content %}

<div class="row dash-heading">
    <div class="col s11 xl8" id="dash-container">
        <div class="col s12 green-row">
            <h1>Edit Profile</h1>
        </div>
        <!-- Flash Message -->
        {% with messages = get_flashed_messages() %} {% if messages %} {% for
                    message in messages %}
        <div class="col s12 green-row flash-message">
            <h5>{{ message }}</h5>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
</div>
<form action="{{ url_for('edit_profile', username=username)}}" method="POST">
    <div class="row" id="form-row">
        <div class="col s11 xl6" id="form-col">
            <label for="input-disabled">Username</label>
            <input id="input-disabled" value="{{ username }}" disabled>
            <p class="signup-note">Usernames cannot be changed</p>
            <label for="old_password">Old Password</label>
            <input type="password" id="old_password" name="old_password" pattern="^[a-zA-Z][a-zA-Z\s']{8,20}$">
            <label for="password">New Password</label>
            <input type="password" id="password" name="password" pattern="^[a-zA-Z][a-zA-Z\s']{8,20}$">
            <p class="signup-note">Passwords must be 5-20 characters, and only contain letters and numbers </p>
            <label for="conf_password">Confirm New Password</label>
            <input type="password" id="conf_password" name="conf_password" pattern="^[a-zA-Z][a-zA-Z\s']{8,20}$">
            <p id="edit-p">The happy couple:</p>
            <div class="signup-details">
                <div class="signup-input-container signup-left">
                    <label for="name_one">Your Name</label>
                    <input type="text" id="name_one" name="name_one" pattern="^[a-zA-Z][a-zA-Z\s']{1,14}$"
                        value="{{ username.name_one }}" required>
                </div>
                <div class=" signup-and signup-middle">
                    <p>&</p>
                </div>
                <div class="signup-input-container signup-middle">
                    <label for="name_two">Your Partners Name</label>
                    <input type="text" id="name_two" name="name_two" pattern="^[a-zA-Z][a-zA-Z\s']{1,14}$"
                        value="{{ username.name_two }}" required>
                </div>
                <div class="signup-input-container signup-right">
                    <label for="wedding_date">Wedding Date</label>
                    <input type="date" id="wedding_date" name="wedding_date" value="{{ username.wedding_date }}"
                        required>
                </div>
            </div>
            <button class="btn waves-effect waves-light submit" type="submit" name="action" id="submit-button">Submit
                <i class="fa-solid fa-arrow-right-long"></i>
            </button>
        </div>
    </div>
</form>
<!-- Back button -->
<div class="row dash-heading">
    <div class="col s11 xl6" id="back-div">
        <a href="{{ url_for('dashboard', checklist_items=checklist_items, username=username) }}"
            class="green-row back-button">
            <i class="fa-solid fa-arrow-left-long"></i>Back to
            Dashboard</a>
    </div>
</div>

{% endblock %}