{% extends "base.html" %}
{% block content %}

<div class="row dash-heading">
    <div class="col s10" id="dash-container">
        <div class="col s12 green-row">
            <h1>Edit Profile</h1>
        </div>
        {% with messages = get_flashed_messages() %} {% if messages %} {% for
                    message in messages %}
        <div class="col s12 green-row flash-message">
            <h5>{{ message }}</h5>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
</div>
<form action="" method="POST">
    <div class="row" id="form-row">
        <div class="col s8" id="form-col">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" minlength="5" maxlength="30" pattern="^[a-zA-Z0-9]{8,20}$"
                required>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" id="show-pass" pattern="^[a-zA-Z0-9]{8,20}$" required>
            <label for="conf_password">Confirm Password</label>
            <input type="password" id="conf_password" name="conf_password" pattern="^[a-zA-Z0-9]{8,20}$" required>
            <p>The happy couple:</p>
            <div class="signup-details">
                <div class="signup-input-container">
                    <label for="name_one">Name one</label>
                    <input type="text" id="name_one" name="name_one" required>
                </div>
                <div class="signup-and">
                    <p>&</p>
                </div>
                <div class="signup-input-container">
                    <label for="name_two">Name two</label>
                    <input type="text" id="name_two" name="name_two" required>
                </div>
                <div class="signup-input-container">
                    <label for="wedding_date">Wedding Date</label>
                    <input type="date" id="wedding_date" name="wedding_date" required>
                </div>
            </div>
            <button class="btn waves-effect waves-light submit" type="submit" name="action">Submit
                <i class="fa-solid fa-arrow-right-long"></i>
            </button>
        </div>
    </div>
</form>

<div class="row dash-heading">
    <div class="col s10">
        <a href="{{ url_for('dashboard', checklist_items=checklist_items, username=username) }}"
            class="green-row back-button">
            <i class="fa-solid fa-arrow-left-long"></i>Back to
            Dashboard</a>
    </div>
</div>

{% endblock %}