{% extends "base.html" %}
{% block content %}

<div class="row dash-heading">
    <div class="col s10" id="dash-container">
        <div class="col s12 green-row">
            <h1>Guests</h1>
        </div>
        <div>
            <div class="col s12 green-row green-container" id="guests-container">
                {% for guest in guests %}
                <!-- Iterates through each Guests -->
                <div class="col s10 checklist-item">
                    <div class="col s3">
                        <p class="checklist-notes">{{ guest.guest_name }}</p>
                    </div>
                    <div class="col s6">
                        <p>{{ guest.guest_notes }}</p>
                    </div>
                    <div class="col s3">
                        <p class="checklist-checkbox">
                            <a href="{{ url_for('edit_guests', guest_id=guest.id) }}">
                                <i class="fa-solid fa-pencil edit-buttons"></i>
                            </a>
                            <a href="#deleteModal{{ guest.id }}" class="modal-trigger">
                                <i class="fa-solid fa-xmark edit-buttons"></i>
                            </a>
                        </p>
                    </div>
                </div>
                <!-- Modal Structure -->
                <div id="deleteModal{{ guest.id }}" class="modal">
                    <div class="modal-content">
                        <h5>Are you sure you want to permanently delete "{{ guest.guest_name }}"?</h5>
                    </div>
                    <div class="modal-footer">
                        <a class="modal-close waves-effect waves-light flash-message pink-button btn-flat">Cancel
                            changes</a>
                        <a href="{{ url_for('delete_guest', guest_id=guest.id) }}"
                            class="waves-effect waves-light flash-message pink-button btn-flat">Confirm changes</a>
                    </div>
                </div>
                {% endfor %}
                <a href="{{ url_for('add_guests') }}" class="col s10 green-row new-green-row">
                    <p>+ Add new guest</p>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}