{% extends "base.html" %}
{% block content %}

<div class="row dash-heading">
    <div class="col s10" id="dash-container">
        <div class="col s12 green-row">
            <h1>Tie the Knot Wedding Planning</h1>
            <p>All your essential wedding planning tools in one place</p>
        </div>
    </div>
</div>
<div class="row dash-heading">
    <div class="col s10" id="home-wrapper">
        <div class="home-container">
            <img class="home-image" src="{{ url_for('static', filename='images/bride-and-groom.webp') }}"
                alt="Example of the Checklist Page">
            <div class="home-text">
                <h5>So you've booked the big day...</h5>
                <p>...And you're already getting asked about invitations, music and table plans? Don't worry, we've got
                    you.</p>
                <br>
                <p>Planning a wedding can be stressful, but our super helpful wedding planner will help you stay on top
                    of your to do list, and get that guest list together in no time. The planner includes:
                </p>
                <ul>
                    <li><i class="fa-solid fa-champagne-glasses"></i> A handy dashboard including what's next on your
                        checklist</li>
                    <li><i class="fa-solid fa-champagne-glasses"></i> A Checklist page for reminders and notes</li>
                    <li><i class="fa-solid fa-champagne-glasses"></i> A Payments page for your deposits and due dates
                    </li>
                    <li><i class="fa-solid fa-champagne-glasses"></i> A Guests page with options to add notes like
                        dietary requirements</li>
                    <li><i class="fa-solid fa-champagne-glasses"></i> A Table plan that automatically groups your guest
                        by table</li>
                </ul>
            </div>
        </div>
    </div>
</div>





{% endblock %}