{% extends "base.html" %}
{% block content %}

<div class="row dash-heading">
    <div class="col s10" id="dash-container">
        <div class="col s12 green-row">
            <h1>Log In</h1>
        </div>
        {% with messages = get_flashed_messages() %} {% if messages %} {% for
            message in messages %}
        <div class="col s12 green-row flash-message">
            <h5>{{ message }}</h5>
        </div>
        {% endfor %} {% endif %} {% endwith %}
    </div>
</div>
<form action="{{ url_for('log_in') }}" method="POST">
    <div class="row" id="form-row">
        <div class="col s8" id="form-col">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" minlength="5" maxlength="30" pattern="^[a-zA-Z0-9]{8,20}$"
                required>
            <p class="signup-note">Usernames must be 5-20 characters, and only contain letters and numbers </p>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" pattern="^[a-zA-Z0-9]{8,20}$" required>
            <p class="signup-note">Passwords must be 5-20 characters, and only contain letters and numbers </p>
            <button class="btn waves-effect waves-light submit" type="submit" name="action">Submit
                <i class="fa-solid fa-arrow-right-long"></i>
            </button>
        </div>
    </div>
</form>

<div class="row dash-heading">
    <div class="col s10">
        <a href="{{ url_for('sign_up') }}" class="green-row back-button">
            <i class="fa-solid fa-arrow-left-long"></i>Not yet registered? Click here to Sign Up</a>
    </div>
</div>

{% endblock %}