{% extends "base.html" %}
{% block content %}

<div class="row dash-heading">
    <div class="col s10" id="dash-container">
        <div class="col s12 green-row">
            <h1>Payments</h1>
        </div>
        <div>
            <div class="col s12 green-row green-container" id="payment-container">
                {% for checklist_item in checklist_items %}
                {% if checklist_item.checklist_payment == True %}
                {% if loop.first %}
                <!-- Checks to see if this is the first iteration, meaning it has no previous -->
                <p class="checklist-date"><strong>{{ checklist_item.checklist_date.strftime("%-d %B %Y") }}</strong>
                </p>
                <div class="col s10 checklist-item">
                    <div class="col s3">
                        <p class="checklist-notes">{{ checklist_item.checklist_name }}</p>
                    </div>
                    <div class="col s6">
                        <p>{{ checklist_item.checklist_notes }}</p>
                    </div>
                    <div class="col s3">
                        <p class="checklist-checkbox">
                            <a href="{{ url_for('edit_payment_item', checklist_item_id=checklist_item.id) }}">
                                <i class="fa-solid fa-pencil edit-buttons"></i>
                            </a>
                            <a href="#deleteModal{{ checklist_item.id }}" class="modal-trigger">
                                <i class="fa-solid fa-xmark edit-buttons"></i>
                            </a>
                        </p>
                    </div>
                    <!-- Modal Structure -->
                    <div id="deleteModal{{ checklist_item.id }}" class="modal">
                        <div class="modal-content">
                            <h5>Are you sure you want to permanently delete "{{ checklist_item.checklist_name }}"?</h5>
                        </div>
                        <div class="modal-footer">
                            <a class="modal-close waves-effect waves-light flash-message pink-button btn-flat"
                                id="cancel-btn">Cancel</a>
                            <a href="{{ url_for('delete_payment_item', checklist_item_id=checklist_item.id) }}"
                                class="waves-effect waves-light flash-message pink-button btn-flat"
                                id="confirm-btn">Confirm</a>
                        </div>
                    </div>
                </div>
                {% else %}
                <!-- For all other iterations after the first one -->
                {% if checklist_item.checklist_date != loop.previtem.checklist_date %}
                <!-- If this item date is different to the previous iteration's item date is added -->
                <p class="checklist-date date-after-first">
                    <strong>{{ checklist_item.checklist_date.strftime("%-d %B %Y") }}</strong>
                </p>
                <!-- If the item date is the same as the previous iteration, the p element is not added to the page -->
                {% endif %}
                <div class="col s10 checklist-item">
                    <div class="col s3">
                        <p class="checklist-notes">{{ checklist_item.checklist_name }}</p>
                    </div>
                    <div class="col s6">
                        <p>{{ checklist_item.checklist_notes }}</p>
                    </div>
                    <div class="col s3">
                        <p class="checklist-checkbox">
                            <a href="{{ url_for('edit_payment_item', checklist_item_id=checklist_item.id) }}">
                                <i class="fa-solid fa-pencil edit-buttons"></i>
                            </a>
                            <a href="#deleteModal{{ checklist_item.id }}" class="modal-trigger">
                                <i class="fa-solid fa-xmark edit-buttons"></i>
                            </a>
                        </p>
                    </div>
                    <!-- Modal Structure -->
                    <div id="deleteModal{{ checklist_item.id }}" class="modal">
                        <div class="modal-content">
                            <h5>Are you sure you want to permanently delete "{{ checklist_item.checklist_name }}"?</h5>
                        </div>
                        <div class="modal-footer">
                            <a class="modal-close waves-effect waves-light flash-message pink-button btn-flat"
                                id="cancel-btn">Cancel</a>
                            <a href="{{ url_for('delete_payment_item', checklist_item_id=checklist_item.id) }}"
                                class="waves-effect waves-light flash-message pink-button btn-flat"
                                id="confirm-btn">Confirm</a>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}
                <a href="{{ url_for('add_payment_item') }}" class="col s10 green-row new-green-row">
                    <p>+ Add new payment item</p>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row dash-heading">
    <div class="col s10 back-dash">
        <a href="{{ url_for('dashboard') }}" class="green-row back-button">
            <i class="fa-solid fa-arrow-left-long"></i>Back to Dashboard</a>
    </div>
</div>


{% endblock %}