{% extends "base.html" %}
{% block content %}


<div class="row dash-heading">
    <div class="col s11 xl8" id="dash-container">
        <div class="col s12 green-row">
            <h1>Table Plan</h1>
        </div>
        <div>
            <div class="col s12 green-row green-container table-container">
                {% for table in tables %}
                <!-- Loop of assigned guests -->
                <div class="col s12 l5 checklist-item table-box">
                    <p>
                        <strong>{{ table.table_name }}</strong>
                    </p>
                    <p class="checklist-checkbox">
                        <a href="{{ url_for('edit_table', table_id=table.id) }}" class="table-pencil">
                            <i class="fa-solid fa-pencil edit-buttons"></i>
                        </a>
                        <a href="#deleteModal{{ table.id }}" class="modal-trigger table-x">
                            <i class="fa-solid fa-xmark edit-buttons"></i>
                        </a>
                    </p>
                    {% for guest in guests %}
                    {% if guest.table_number == table.id %}
                    <div class="col s12 unassigned-guest-row" id="no-guest">
                        <div class="guest-name-box">
                            <p>{{ guest.guest_name }}</p>
                        </div>
                        <div class="guest-edit-box">
                            <p class="assign-button">
                                <a href="{{ url_for('edit_guests', guest_id=guest.id) }}">Edit</a>
                            </p>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}

                </div>
                <!-- Modal Structure -->
                <div id="deleteModal{{ table.id }}" class="modal">
                    <div class="modal-content">
                        <h5>Are you sure you want to permanently delete "{{ table.table_name }}"?</h5>
                    </div>
                    <div class="modal-footer">
                        <a class="modal-close waves-effect waves-light flash-message pink-button btn-flat"
                            id="cancel-btn">Cancel</a>
                        <a href="{{ url_for('delete_table', table_id=table.id) }}"
                            class="waves-effect waves-light flash-message pink-button btn-flat"
                            id="confirm-btn">Confirm</a>
                    </div>
                </div>
                {% endfor %}
                <!-- Unassigned guests -->
                <div class="col s12 l5 checklist-item table-box unassigned-guest" id="no-guest-container">
                    <p><strong>No table assigned yet</strong></p>
                    {% for guest in guests %}
                    {% if guest.table_number == None %}
                    <div class="col s12 unassigned-guest-row" id="no-guest">
                        <div class="guest-name-box">
                            <p>{{ guest.guest_name }}</p>
                        </div>
                        <div class="guest-edit-box">
                            <p class="assign-button">
                                <a href="{{ url_for('edit_guests', guest_id=guest.id) }}">Edit</a>
                            </p>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <a href="{{ url_for('add_table') }}" class="col s6 m4 green-row new-green-row" id="new-table-row">
                    <p>+ Add new table</p>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row dash-heading">
    <div class="col s11 xl8 back-dash" id="back-div-checklist">
        <a href="{{ url_for('dashboard') }}" class="green-row back-button">
            <i class="fa-solid fa-arrow-left-long"></i>Back to Dashboard</a>
    </div>
</div>



{% endblock %}