{% extends "base.html" %}
{% block content %}


<div class="row dash-heading">
    <div class="col s10" id="dash-container">
        <div class="col s12 green-row">
            <h1>Table Plan</h1>
        </div>
        <div>
            <div class="col s12 green-row green-container">
                {% for table in tables %}
                <div class="col s4 checklist-item">
                    <div class="col s6">
                        <p class="checklist-date"><strong>{{ table.table_name }}</strong></p>
                    </div>
                    <div class="col s6">
                        <p class="checklist-checkbox">
                            <a href="{{ url_for('edit_table', table_id=table.id) }}">
                                <i class="fa-solid fa-pencil"></i>
                            </a>
                            <a href="#deleteModal{{ table.id }}" class="modal-trigger">
                                <i class="fa-solid fa-xmark"></i>
                            </a>
                        </p>
                    </div>
                    {% for guest in guests %}
                    {% if guest.table_number == table.id %}
                    <div class="col s6">
                        <p>{{ guest.guest_name }}</p>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% for table in tables %}
                    {% for guest in guests %}
                    {% if guest.table_number == 0 %}
                    <div class="col s4 checklist-item"></div>
                    <div class="col s6">
                        <p class="checklist-date"><strong>No table assigned yet</strong></p>
                    </div>
                    <div class="col s6">
                        <p>{{ guest.guest_name }}</p>
                    </div>
                    {% endif %}
                    <!-- Modal Structure -->
                    <div id="deleteModal{{ table.id }}" class="modal">
                        <div class="modal-content">
                            <h5>Are you sure you want to delete "{{ table.table_name }}"?</h5>
                        </div>
                        <div class="modal-footer">
                            <a class="modal-close waves-effect waves-green btn-flat">Cancel changes</a>
                            <a href="{{ url_for('delete_table', table_id=table.id) }}"
                                class="waves-effect waves-green btn-flat">Confirm changes</a>
                        </div>
                    </div>
                    {% endfor %}
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
        <a href="{{ url_for('add_table') }}" class="col s10 green-row new-green-row">
            <p>+ Add new table</p>
        </a>
    </div>




    {% endblock %}