@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    font-family: 'Spectral', serif;
    color: #000;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow: auto !important;
}

main {
    flex: 1 0 auto;
}

p {
    font-size: 16px;
}

footer {
    background-color: #366355;
}


/* Base */
nav {
    height: 110px;
    padding: 10px;
    background-color: #fff;
    box-shadow: none;
}

#nav-container {
    display: flex;
    justify-content: center;
}

#nav-main {
    margin-left: 0;
}

.logo {
    height: 90px;
    border-radius: 5px;
}

nav ul a {
    font-size: 20px;
    margin: 13px;
    color: #000;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

nav .sidenav-trigger {
    float: right;
}

.nav-trigger {
    background-color: unset !important;
}

.nav-trigger:hover {
    background-color: #E8D2CA !important;
}

.sidenav {
    background-color: #E8D2CA;
}

.fa-bars {
    color: #000;
}

.side-nav {
    margin-top: 30px;
}

.sidenav li>a {
    font-size: 18px;
}

.drop-option {
    margin: 0;
    padding: 20px !important;
    text-align: center;
}

.dropdown-content {
    border-radius: 5px;
}

.drop-top {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.drop-bottom {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#footer-links,
#footer-socials {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#footer-links li {
    font-size: 16px;
    margin: 0 20px;
    border-bottom: 1px solid #366355;
}

#footer-socials li {
    font-size: 24px;
    margin: 0 50px;
}

#footer-links li,
#footer-socials li {
    padding: 5px;
}

#footer-links a,
#footer-socials a {
    color: #fff;
}

#footer-links a:hover {
    color: #E8D2CA;
    border-bottom: 1px solid #E8D2CA;
}

#footer-socials a:hover {
    color: #E8D2CA;
}

#contact {
    color: #fff;
    text-align: center;
}

#contact p {
    margin: 20px;
}

/* Dashboard */

.dash-heading {
    display: flex;
    justify-content: center;
}

#dash-container {
    text-align: center;
    margin-left: 0;
    padding: 0;
}

#dash-checklist {
    margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

#whats-next {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#no-checklist {
    font-size: 20px;
}

.row .col {
    padding: 0;
}

.green-row {
    background-color: #dcece7;
    border-radius: 6px;
    margin-top: 20px;
    margin-left: 0;
}

.green-row h1 {
    font-size: 40px;
    margin: 1.5rem 0;
}

.dash-content {
    display: flex;
    justify-content: space-between;
}

#green-one,
#green-two,
#green-three,
#green-four {
    margin-left: 0;
    padding: 30px;
    color: #000;
    display: flex;
    justify-content: center;
    border: 1.5px solid #dcece7;
    font-size: 20px;
}

#green-one {
    margin-right: 10px;
}

#green-two,
#green-three {
    margin-right: 10px;
    margin-left: 10px;
}

#green-four {
    margin-left: 10px;
}

#green-one:hover,
#green-two:hover,
#green-three:hover,
#green-four:hover {
    border: 1.5px solid #366355;
}

.dash-button-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.dash-buttons {
    padding: 10px 30px;
    width: 40%;
    background-color: #E8D2CA;
    border-radius: 3px;
    font-size: 16px;
    text-decoration: none;
    color: #000;
}

#confetti-container {
    display: flex;
    justify-content: center;
}

#click-confetti {
    width: fit-content;
    text-align: center;
    margin: 5px;
    cursor: pointer;
}

/* Checklist */

.new-green-row {
    background-color: #EFF6F3;
    border: 1.5px solid #dcece7;
    font-size: 16px;
    color: #000;
    margin-bottom: 20px;
    text-align: center;
}

.new-green-row p {
    margin: 10px;
}

.new-green-row:hover {
    border: 1.5px solid #366355;
}

.green-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    text-align: left;
    padding: 20px !important;
}

.checklist-item {
    background-color: rgb(255, 255, 255, 0.5);
    margin: 2px 0;
    border-radius: 4px;
}

.checklist-item p {
    margin: 10px 20px;
    overflow-wrap: break-word;
}

.checklist-date {
    margin: 0 0 5px 10px;
}

.checklist-notes {
    border-right: 1px solid #366355;
    margin-right: 0 !important;
    padding-right: 20px;
}

.checklist-checkbox {
    text-align: right;
}

.date-after-first {
    margin-top: 20px;
}

.edit-buttons {
    font-size: 14px;
    color: #000;
    border: 2px solid #eef6f3;
    border-radius: 50px;
    padding: 3px;
    height: 24px;
    width: 24px;
    text-align: center;
}

.edit-buttons:hover {
    border: 2px solid #366355;
}

.modal-content,
.modal .modal-footer {
    text-align: center;
}

/* Add Checklist Item */

#form-row {
    display: flex;
    justify-content: center;
}

#form-col {
    margin-left: 0;
    border: 1.5px solid #dcece7;
    border-radius: 4px;
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#form-col label {
    font-size: 16px;
    color: #000;
}

#form-col input {
    padding: 0 10px;
    background-color: #dcece7;
    border-radius: 4px;
    box-shadow: 2px 3px #888888;
    border-bottom: 0;
    width: auto;
    font-family: 'Spectral', serif;
    color: #000
}

#form-col input:focus {
    box-shadow: 2px 3px #366355;
    border-bottom: 0;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

#payment-span:before {
    left: -8px;
    top: 2px;

}

#payment-span:after {
    left: -10px;
    border-radius: 2px;
    top: 2.5px;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
    border: 2px solid #366355;
    background-color: #366355;
}

#payment-span {
    padding-left: 24px;
    font-size: 16px;
}

.submit {
    margin-top: 10px;
    background-color: #366355;
    width: 50%;
    margin: auto;
    font-family: 'Spectral', serif;
    font-size: 16px;
    text-transform: none;
}

.submit:hover {
    background-color: #92a8a2;
}

.flash-message {
    background-color: #E8D2CA;
}

.pink-button {
    border: 1.5px solid #E8D2CA;
}

.pink-button:hover {
    border: 1.5px solid #C48C78;
}

/* Edit Checklist */

.back-button {
    padding: 2px 5px;
    color: #000;
    border-radius: 2px;
}

.back-button:hover {
    text-decoration: underline;
}

.fa-arrow-left-long {
    margin-right: 4px;
}

.fa-arrow-right-long {
    margin-left: 4px;
}

.btn-flat {
    font-family: 'Spectral', serif;
}

/* Payments */

#payment-container {
    padding-bottom: 40px !important;
}

#no-payments,
#no-checklist {
    display: none;
}

/* Guests Page */

#guests-container {
    padding-top: 20px;
}

/* Add Guest */

#chosen-table {
    padding: 2px 20px;
    height: 36px;
    margin: 0;
}

#chosen-table-div {
    margin-left: 10px;
    margin-bottom: 20px;
}

.radio-group {
    display: flex;
}

#table_name {
    display: none;
}

.dropdown-trigger {
    background-color: #366355;
}

.dropdown-trigger:hover {
    background-color: #92a8a2;
}

.table-dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-table {
    padding: 5px;
    border-radius: 2px;
}



.create-table-a {
    color: #366355;
}

.create-table-a:hover {
    text-decoration: underline;
}

/* Edit Guest */

.edit-chosen-table {
    border: 2px solid #366355;
}

.btn {
    text-transform: none;
}

/* Table Plan */

.table-container {
    flex-direction: unset;
    justify-content: center;
}

.table-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-left: 0 !important;
    margin: 20px 30px !important;
    padding: 0 20px !important;
    height: 300px;
    overflow-y: scroll;
}

.table-box p {
    margin: 10px 0;
}

.table-pencil {
    margin-right: 20px;
}

.table-x {
    margin-left: 20px;
}

#new-table-row {
    margin-left: unset;
}

.unassigned-guest {
    display: flex;
    flex-direction: column;
}

.unassigned-guest-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 !important;
}

.guest-name-box {
    display: flex;
    justify-content: flex-start;
    width: 80%;
    max-width: 80%;

}

.assign-button {
    background-color: #E8D2CA;
    border-radius: 2px;
}

.assign-button a {
    text-decoration: none;
    color: #000;
    padding: 0 5px;
}

.assign-button a:hover {
    text-decoration: underline;
}

input:-internal-autofill-selected {
    appearance: menulist-button;
    background-image: none !important;
    background-color: -internal-light-dark(rgb(232, 240, 254), rgba(70, 90, 126, 0.4)) !important;
    color: fieldtext !important;
}

/* Sign Up Page */

.signup-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 55%;
    height: 75px;
}

.signup-left {
    margin-right: 10px;
}

.signup-middle {
    margin: 0 10px;
}

.signup-right {
    margin-left: 10px;
}

.signup-input-container {
    display: flex;
    flex-direction: column;
    /* width: 30%; */
}

.signup-and p {
    font-size: 24px;
}

.signup-input-container p {
    margin: 0 10px;
}

.signup-note {
    margin: 0 0 10px 0;
    font-size: 16px;
    font-weight: 200;
    font-style: italic;
}

/* Edit Profile */
input#input-disabled {
    background-color: #E8E8E8;
}

#edit-profile-submit {
    margin-top: 20px;
    color: #366355;
    color: #C48C78
}

#home-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    float: none;
    margin: 0;
}

.home-container {
    background-color: #E8D2CA;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.home-image {
    width: 30%;
    border-radius: 8px;
}

.home-text {
    background-color: rgb(255, 255, 255, 0.4);
    border-radius: 8px;
    margin: 100px;
    width: 70%;
    padding: 30px;
}

.home-text p {
    margin: 0;

}

.home-text ul {
    line-height: 2;
}